*, ::after, ::before{
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	background-color: #333;
	background-image: url(../assets/images/background-blue.jpg);
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	user-select: none;
}

.container{
	position: relative;
	width: 90%;
	max-width: 450px;
	/* height: fit-content; */
	height: auto;
	background-color: #ffffff1a;
	backdrop-filter: blur(30px);
	border: 2px solid #ffffff33;
	border-radius: 20px;
	padding: 20px;
	color: white;
	overflow: hidden;
	transition: height 2s ease;
}

.search-box{
	position: relative;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}

.input-location{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 2px solid #ffffff4d;
	border-radius: 10px;
	font-size: 22px;
	color: white;
	font-weight: 500;
	padding: 0 48px;
	outline: none;
	text-transform: uppercase;
}

.input-location::placeholder{
	color: white;
}

.location{
	height: 60%;
	padding: 0 5px;
}

.button-search{
	position: absolute;
	right: 0;
	width: 40px;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	padding: 0 5px;
	cursor: pointer;

}

.row{
	display: flex;
	align-items: center;
}

.weather{
	margin-top: 20px;
	justify-content: space-evenly;
}

.weather-img{
	width: 60%;
}

.weather-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.temperature{
	font-size: 64px;
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: 700;
}

.grades{
	position: absolute;
	font-size: 24px;
}

.description{
	margin: 0;
	font-size: 22px;
	text-transform: capitalize;
}

.details{
	margin-top: 10px;
	height: 110px;
	background-color: #00000033;
	border-radius: 20px;
	justify-content: space-evenly;
    padding: 5px
}

.details-box{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}

.details-img{
	width: 30px;
}

.details-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.value-container{
	width: 100%;
	height: 100px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.value{
	background-color: #00000047;
	width: 48%;
	height: 100%;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error{
	margin-top: 50px;
	text-align: center;
	font-size: 24px;
}

.box{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.weather-box, .error{
	display: none;
}

.active{
	display: block;
}